<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>display_data</h1>

        <table border="2px">

            <tr>
                <th>name</th>
                <th>age</th>
                <th>password</th>
                <th>gender</th>
                <th>course</th>
            </tr>
            {% for ro in QSRO %}

                <tr>
                    <td>{{ro.name}}</td>
                    <td>{{ro.age}}</td>
                    <td>{{ro.password}}</td>
                    <td>{{ro.gender}}</td>
                    <td>{{ro.course}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>